<div>
   <!-- <button class="btn btn-primary col-12 mb-2" ng-click="createTemplate()">New</button> -->
   <div class="d-flex shadow mb-2 flex-row rounded" ng-repeat="template in templates" ng-click="openTemplate($index)">
      <div style="width:10px;" class="rounded-start" ng-style="{background:parseColorBold(template.color)}"></div>
      <div class="card-body text-center rounded-end fw-bold" ng-style="{background:parseColorLight(template.color),color:parseColorBold(template.color)}">
         {{template.name}}
      </div>
   </div>
   <div ng-click="createTemplate()" class="position-fixed bottom-0 end-0 m-4 shadow-lg rounded-circle fab-button" style="background-image: url('img/add.svg'); background-size: contain; height: 48px; width: 48px;"></div>
</div>