<!DOCTYPE html>
<html ng-app="Home">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
      viewport-fit="cover"
    />
    <link rel="stylesheet" href="./css/bootstrap.min.css" type="text/css" />

    <link rel="stylesheet" href="./css/index.css" type="text/css" />
    <!-- <link rel="stylesheet" href="./css/bootstrap-icons.css" type="text/css" /> -->
    <script src="./js/angular.min.js"></script>
    <script src="./js/leaflet/leaflet.js"></script>

    <link rel="stylesheet" href="./js/leaflet/leaflet.css">
    
    <script src="./js/app/app.module.js"></script>
    <script src="./js/app/app.service.js"></script>
    
    <script src="./js/release/angular-ui-router.min.js"></script>


    <script src="./js/app/builder/builder.module.js"></script>
    <script src="./js/app/builder/builder.component.js"></script>
    <script src="./js/app/derived/derived.module.js"></script>
    <script src="./js/app/derived/derived.component.js"></script>
    <script src="./js/app/controls/controls.module.js"></script>
    <script src="./js/app/controls/controls.component.js"></script>
    <script src="./js/app/templates/templates.module.js"></script>
    <script src="./js/app/templates/templates.component.js"></script>
    <script src="./js/app/forms/forms.module.js"></script>
    <script src="./js/app/forms/forms.component.js"></script>
    <script src="./js/app/formview/formview.module.js"></script>
    <script src="./js/app/formview/formview.component.js"></script>

    <script src="./js/app/databaseHandler.js"></script>
    <script src="./js/app/fileHandler.js"></script>
    <script src="./js/signature_pad.min.js"></script>



    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVUgu-VLDVFMHqk63h8pIiOcXpGcW6WsA&callback=initializeMap"></script> -->
  </head>

  <body ng-controller="mainCtrl">
    <nav class="navbar navbar-light">
      <div class="container-fluid">
        <div
          class="offcanvas offcanvas-start w-50"
          tabindex="-1"
          id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel"
        >
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Panel</h5>
            <button
              type="button"
              class="btn-close text-reset"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a
                  class="nav-link"
                  ng-click="hideOffCanvas()"
                  ui-sref="templates"
                  ui-sref-active="active"
                  aria-current="page"
                  >Templates</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  ng-click="hideOffCanvas()"
                  ui-sref="New Form"
                  ui-sref-active="active"
                  >New Form</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  ng-click="hideOffCanvas()"
                  ui-sref="forms"
                  ui-sref-active="active"
                  >Form</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <leaflet lf-center="berlin" layers="layers"  controls="controls"  markers="markers" height="480px" width="100%"></leaflet>
    <div class="container pb-2" style="padding-top: 60px" ui-view></div>
    <script src="cordova.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
  </body>
</html>
